/* General body styling */
.login-body {
    background-color: #f0f2f5;
    margin: 0;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling for login box */
.login-box {
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.logo {
    font-size: 3rem;
    font-weight: bold;
    color: #000000;
    margin: 20px;
    text-align: center;
}

.logo-font {
    color: #007bff;
}

.app-description p {
    font-size: 20px;
    margin: 0;
    color: #666;
    text-align: center;
}

/* Styling for form section */
.login-form {
    padding: 20px;
}


.carousel-inner {
    border-radius: 10px;
    overflow: hidden;
}

.slider-feature-card {
    text-align: center;
    padding: 20px;
}

.carousel-image {
    object-fit: cover;
    height: 400px;
    /* Adjust the height as needed */
}

.slider-feature-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(32, 32, 32, 0.253);
    padding: 20px;
    text-align: center;
}

.slider-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color:#007bff;
}

.slider-description {
    font-size: 1rem;
    color: #000000;
}

.carousel-caption {
    bottom: 20px;
    background-color: #0000006b;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
}


.slider-title {
    color: #007bff;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.slider-description {
    font-size: 18px;
    font-weight: 900;
    color: #ffffff;
}

/* Hide carousel on mobile devices */
.hide-on-mobile {
    display: none;
}

@media (min-width: 768px) {
    .hide-on-mobile {
        display: block;
    }
}