.pos-section {
  align-items: flex-start;
  display: flex;
  height: calc(100vh - 60px);
  justify-content: center;
  width: 100%;
  direction: rtl;
  flex-direction: row-reverse;
}
.pos-section .pos-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #555555;
  overflow: hidden;
}
.pos-section .pos-content .client-formgroup {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}
.pos-section .pos-content .client-formgroup .form-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 2px solid wheat;
}
.pos-section .pos-content .client-formgroup .form-info .formgroup {
  max-width: 300px;
  height: 50%;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}
.pos-section .pos-content .client-formgroup .form-info .formgroup > label {
  font-size: 16px;
  font-weight: 900;
  margin-left: 10px;
  margin-bottom: 0;
  width: 75px;
  padding: 0;
}
.pos-section .pos-content .client-formgroup .form-info .formgroup > input {
  font-size: 16px;
  font-weight: 600;
  width: 135px !important;
}
.pos-section .pos-content .client-formgroup .form-info .formgroup > select {
  font-size: 16px;
  font-weight: 900;
  width: 120px !important;
}
.pos-section .pos-content .client-formgroup .form-info .info-adress {
  font-size: 16px;
  font-weight: 900;
  align-items: center;
  display: flex;
  height: 50%;
  justify-content: flex-start;
  width: 50%;
}
.pos-section .pos-content .client-formgroup .form-info .info-adress > label {
  font-size: 16px;
  font-weight: 900;
  margin-left: 10px;
  width: 60px;
  padding: 0;
}
.pos-section .pos-content .client-formgroup .form-info .info-adress > textarea {
  font-size: 16px;
  font-weight: 900;
  height: 100%;
  width: 85%;
}
.pos-section .pos-content .categ-menu {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
}
.pos-section .pos-content .categ-menu .pos-menu {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  margin: 5px;
  overflow-y: auto;
  width: 100%;
}
.pos-section .pos-content .categ-menu .pos-menu .pos-card {
  align-items: flex-start;
  background-color: #1c1c1c;
  border: 2px solid #f5f5f5;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 160px;
  justify-content: center;
  margin: 5px;
  width: 155px;
}
.pos-section .pos-content .categ-menu .pos-menu .pos-card .pos-img-card {
  width: 100%;
  height: 50%;
}
.pos-section .pos-content .categ-menu .pos-menu .pos-card .pos-card-detalis {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 2px;
}
.pos-section .pos-content .categ-menu .pos-menu .pos-card .pos-card-detalis .card-name {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pos-section .pos-content .categ-menu .pos-menu .pos-card .pos-card-detalis .card-name .product-name {
  font-size: 18px;
  width: 60%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pos-section .pos-content .categ-menu .pos-menu .pos-card .pos-card-detalis .card-name .product-price {
  width: 40%;
  height: 100%;
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pos-section .pos-content .categ-menu .pos-menu .pos-card .pos-card-detalis .card-discription {
  width: 100%;
  height: 50%;
  font-size: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.pos-section .pos-content .categ-menu .pos-category {
  background-color: #0a0a0a;
  height: auto;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: auto;
  padding: 0;
  margin: 0;
}
.pos-section .pos-content .categ-menu .pos-category .category-ul {
  align-content: flex-start;
  background-color: initial;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}
.pos-section .pos-content .categ-menu .pos-category .category-ul .category-li {
  align-content: center;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 75px;
  height: 50px;
  align-items: center;
}
.pos-section .pos-content .categ-menu .pos-category .category-ul .category-li .category-pos-btn {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 800;
}

@media (max-width: 768px) {
  .pos-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .pos-section .container-fluid {
    width: 100% !important;
    height: 100vh;
  }
  .pos-section .pos-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(56, 56, 56);
    margin-bottom: 10px;
  }
  .pos-section .pos-content .client-formgroup {
    align-items: center;
    display: flex;
    height: -webkit-max-content;
    height: auto;
    justify-content: flex-start;
    padding: 5px;
    width: 100%;
  }
  .pos-section .pos-content .client-formgroup .form-info {
    align-items: center;
    border-bottom: 2px solid wheat;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
  }
  .pos-section .pos-content .client-formgroup .form-info .formgroup {
    align-items: center;
    color: #fff;
    display: flex;
    height: auto;
    justify-content: center;
    max-width: 100%;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .pos-section .pos-content .client-formgroup .form-info .formgroup > label {
    font-size: 16px;
    font-weight: 900;
    margin-left: 10px;
    margin-bottom: 0;
    width: 75px;
    padding: 0;
  }
  .pos-section .pos-content .client-formgroup .form-info .formgroup > input {
    font-size: 16px;
    font-weight: 600;
    width: 135px !important;
  }
  .pos-section .pos-content .client-formgroup .form-info .formgroup > select {
    font-size: 16px;
    font-weight: 900;
    width: 120px !important;
  }
  .pos-section .pos-content .client-formgroup .form-info .info-adress {
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: 900;
    height: 30%;
    justify-content: flex-start;
    width: 100%;
  }
  .pos-section .pos-content .client-formgroup .form-info .info-adress > label {
    font-size: 16px;
    font-weight: 900;
    margin-left: 10px;
    width: 60px;
    padding: 0;
  }
  .pos-section .pos-content .client-formgroup .form-info .info-adress > textarea {
    font-size: 16px;
    font-weight: 900;
    height: 100%;
    width: 85%;
  }
  .pos-section .pos-content .categ-menu {
    align-items: flex-start;
    display: flex;
    height: 100%;
    justify-content: space-between;
    width: 100%;
    flex-direction: row-reverse;
    overflow-y: scroll;
  }
  .pos-section .pos-content .categ-menu .pos-menu {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 5px;
    overflow-y: auto;
  }
  .pos-section .pos-content .categ-menu .pos-menu .pos-card {
    width: 170px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 5px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    background-color: #1c1c1c;
    cursor: pointer;
  }
  .pos-section .pos-content .categ-menu .pos-menu .pos-card .pos-img-card {
    width: 100%;
    height: 50%;
  }
  .pos-section .pos-content .categ-menu .pos-menu .pos-card .pos-card-detalis {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 2px;
  }
  .pos-section .pos-content .categ-menu .pos-menu .pos-card .pos-card-detalis .card-name {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .pos-section .pos-content .categ-menu .pos-menu .pos-card .pos-card-detalis .card-name .product-name {
    font-size: 18px;
    width: 60%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .pos-section .pos-content .categ-menu .pos-menu .pos-card .pos-card-detalis .card-name .product-price {
    width: 40%;
    height: 100%;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pos-section .pos-content .categ-menu .pos-menu .pos-card .pos-card-detalis .card-discription {
    width: 100%;
    height: 50%;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .pos-section .pos-content .categ-menu .pos-category {
    height: -moz-fit-content;
    height: fit-content;
    width: 100px;
    background-color: rgb(56, 56, 56);
    border-right: 2px solid white;
  }
  .pos-section .pos-content .categ-menu .pos-category .category-ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: transparent;
  }
  .pos-section .pos-content .categ-menu .pos-category .category-ul .category-li {
    list-style: none;
    width: 95%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid gainsboro;
    cursor: pointer;
  }
  .pos-section .pos-content .categ-menu .pos-category .category-ul .category-li .category-pos-btn .btn-47 {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
}/*# sourceMappingURL=POS.css.map */