.cart-section {
  justify-content: center;
  align-items: center;
  max-width: 350px;
  width: 100%;
  height: calc(100vh - 80px);
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 2000;
  overflow-y: scroll;
}

.cart-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.cart-wrapper .title-text {
  display: flex;
  width: 200%;
}

.cart-wrapper .title {
  width: 50%;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.cart-wrapper .slide-controler {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 10px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.slide-controler .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}

.slide-controler label.invoice {
  color: #000;
}

.slide-controler .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  right: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(276deg, #f7ba7c 19%, var(--u-main-color));
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.slide-controler input[type="radio"] {
  display: none;
}

#invoice-radio:checked~.slider-tab {
  right: 50%;
}

#invoice-radio:checked~label.invoice {
  color: var(--secondary-color);
  cursor: default;
  user-select: none;
  background-color: var(--primary-color);
}

#invoice-radio:checked~label.order {
  color: var(--secondary-color);
  background-color: var(--dark-color);

}

#order-radio:checked~label.invoice {
  color: var(--secondary-color);
  background-color: var(--dark-color);
}

#order-radio:checked~label.order {
  color: var(--secondary-color);
  cursor: default;
  user-select: none;
  background-color: var(--primary-color);
}

.cart-wrapper .cart-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cart-wrapper .cart-container.h-100 {
  height: 100%;
}

.cart-container .cart-inner {
  display: flex;
  height: 90%;
  width: 200%;
  padding: 0;
  margin: 0;
}

.cart-container .cart-inner .side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.cart-container .cart-inner .side .side-content {
  width: 100%;
  height: calc(100% - 80px) !important;
  overflow-y: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.side .side-content .cart-item {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid green;
}

.side .side-content .cart-item .cart-img {
  width: 30%;
  height: 100%;
}

.side .side-content .cart-item .cart-img img {
  width: 100%;
  height: 100%;
  border-radius: 0 15px 15px 0;
}

.side .side-content .cart-item .cart-det {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 10px;
}

.side .side-content .cart-item .cart-det .item-head {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.side .side-content .cart-item .cart-det .item-head p {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.side .side-content .cart-item .cart-det .item-head>button {
  width: 30%;
  height: 100%;
  font-size: 18px;
  color: white;
  background-color: red;
  border-radius: 10px;
}

.side .side-content .cart-item .cart-det .del-cost {
  width: 100%;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #999;
}

.side .side-content .cart-item .cart-det .del-cost .cart-price {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side .side-content .cart-item .cart-det .del-cost p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}

.side .total-order {
  align-items: center;
  background-color: var(--accent-color);
  bottom: 0;
  display: flex;
  height: 70px;
  justify-content: space-between;
  left: 0;
  margin: 0;
  padding: 0;
  position: sticky;
  width: 100%;
}

.total-order .total-order-btn .btn-47 {
  color: var(--u-dark);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 800;
  height: 80%;
  margin: auto 20px;
  text-align: center;
  width: 37%;
  background-color: var(--u-gold);
}

.side .total-order .total-order-details {
  text-align: center;
  color: var(--u-gold);
  font-size: 16px;
  font-weight: 800;
  width: 40%;
  height: 100%;
  padding: 3px;
}

.side .total-order .total-order-details>h2 {
  width: 100%;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
}

.side .total-order .total-order-details>p {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--u-dark);
  color: var(--u-white);
  text-align: center;
}



.logo-container {
  margin: 20px 0 30px 0;
}

.page-container {
  display: none;
}


.footer {
  margin-top: 30px;
  text-align: center;
  color: #828282;
}

.footer span {
  color: #5a6268;
}

@media (max-width: 768px) {
  .footer {
    margin-top: 20px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .footer {
    margin-top: 15px;
    font-size: 12px;
  }
}