.header-client {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: var(--white-color);
  z-index: 1000;
  position: sticky;
  top: 0;
  left: 0;
}
.header-client.scroll {
  background: linear-gradient(200deg, var(--secondary-color) 19%, var(--primary-color) 80%);
}
.header-client.scroll .nav .navigator a {
  color: var(--white-color) !important;
}
.header-client.scroll .nav-logout {
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
}
.header-client.scroll .nav-logout > span {
  color: var(--primary-color) !important;
}
.header-client.scroll .shopping_cart {
  color: var(--secondary-color) !important;
}
.header-client.scroll .cartcounter {
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
}
.header-client .container-lg {
  height: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.header-client .container-lg .mob-menu {
  display: none;
}
.header-client .container-lg .logo {
  max-width: 100px;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.header-client .container-lg .logo > img {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.header-client .container-lg .logo .res-name {
  font-size: 30px;
  font-weight: 900;
  color: var(--white-color);
  margin: 0 auto;
  text-decoration: none;
}
.header-client .container-lg .nav {
  width: 60% !important;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-client .container-lg .nav > .navigator {
  width: 100%;
  height: 70%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.header-client .container-lg .nav > .navigator li {
  list-style: none;
  width: -moz-max-content;
  width: max-content;
  height: -moz-min-content;
  height: min-content;
  margin: 5px;
  position: relative;
}
.header-client .container-lg .nav > .navigator li a {
  font-size: 20px;
  color: var(--text-color);
  font-weight: 900;
}
.header-client .container-lg .left-nav {
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 15%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
.header-client .container-lg .left-nav .nav-logout {
  width: 50px;
  height: 50px;
  background-color: var(--dark-color);
  color: var(--white-color);
  font-size: 14px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}
.header-client .container-lg .left-nav .nav-logout > span {
  color: var(--white-color);
  font-size: 20px;
  font-weight: 900;
}
.header-client .container-lg .left-nav .nav-login {
  width: 50px;
  height: 50px;
  background-color: var(--secondary-color);
  font-size: 14px;
  font-weight: 900;
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-client .container-lg .left-nav .nav-login > span {
  font-size: 20px;
  font-weight: 900;
}
.header-client .container-lg .left-nav .cart-icon {
  width: 50px;
  height: 50px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.header-client .container-lg .left-nav .cart-icon .shopping_cart {
  font-size: 55px;
  color: var(--dark-color);
}
.header-client .container-lg .left-nav .cart-icon .cartcounter {
  width: 25px;
  height: 25px;
  background-color: var(--dark-color);
  color: var(--white-color);
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -2%;
  right: -10%;
  border-radius: 50%;
}

ul.borderYtoX li:after {
  right: 0px;
  bottom: 0px;
}

ul.borderYtoX li:hover:after {
  opacity: 1;
  height: 3px;
  width: 100%;
}

.show {
  display: flex !important;
}

@media (max-width: 920px) {
  .header-client {
    width: 100%;
    height: 80px;
  }
  .header-client.scroll {
    background: linear-gradient(230deg, var(--secondary-color) 60%, var(--primary-color) 85%);
  }
  .header-client.scroll .nav .navigator a {
    color: var(--white-color) !important;
  }
  .header-client.scroll .nav-logout {
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
  }
  .header-client.scroll .nav-logout > span {
    color: var(--primary-color) !important;
  }
  .header-client.scroll .shopping_cart {
    color: var(--secondary-color) !important;
  }
  .header-client.scroll .cartcounter {
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
  }
  .header-client .container-lg {
    height: 100%;
    padding: 5px 10px;
    justify-content: space-between;
  }
  .header-client .container-lg .mob-menu {
    width: 30%;
    min-width: 50px;
    padding-right: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
    scale: 1;
  }
  .header-client .container-lg .mob-menu span {
    width: 100%;
    max-width: 55px;
    height: 3px;
    display: block;
    background-color: var(--dark-color);
    color: var(--white-color);
    margin-bottom: 10px;
  }
  .header-client .container-lg .logo {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-client .container-lg .logo .res-name {
    width: 75%;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: end;
  }
  .header-client .container-lg .nav {
    width: 100% !important;
    height: calc(100vh - 80px) !important;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 80px;
    left: 0;
    background: linear-gradient(276deg, var(--secondary-color) 19%, var(--primary-color));
  }
  .header-client .container-lg .nav .navigator {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .header-client .container-lg .nav .navigator:last-child {
    border-bottom: none !important;
  }
  .header-client .container-lg .nav .navigator li {
    width: 100%;
    height: 100px;
    border-bottom: 3px solid var(--white-color);
    list-style: none;
    text-align: center;
    padding: 20px 0px;
  }
  .header-client .container-lg .nav .navigator li a {
    font-size: 35px;
    color: var(--dark-color);
    font-weight: 900;
    margin-right: 15px;
  }
  .header-client .container-lg .left-nav {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .header-client .container-lg .left-nav .nav-logout {
    width: 45px;
    height: 45px;
    font-size: 18px;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 0;
  }
  .header-client .container-lg .left-nav .nav-logout > span {
    display: none;
  }
  .header-client .container-lg .left-nav .nav-login {
    width: 45px;
    height: 45px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 0;
  }
  .header-client .container-lg .left-nav .nav-login > span {
    display: none;
  }
  .header-client .container-lg .left-nav .cart-icon {
    width: 45px;
    height: 45px;
    text-align: center;
    position: relative;
    margin-right: 5px;
  }
  .header-client .container-lg .left-nav .cart-icon .shopping_cart {
    font-size: 45px;
  }
  .header-client .container-lg .left-nav .cart-icon .cartcounter {
    width: 25px;
    height: 25px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10%;
    right: -10%;
    border-radius: 50%;
  }
}/*# sourceMappingURL=Header.css.map */