#menu {
  width: 100%;
  height:auto;
  margin-top: 80px;
  scroll-margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  background-color: transparent;
}

#menu .container-lg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#menu .container-lg .section-content {
  width: 100%;
  margin-top: 15px;
}

#menu .container-lg .section-content .menu-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

#menu .container-lg .section-content .menu-nav > .menu-ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#menu .container-lg .section-content .menu-nav > .menu-ul .menu-nav-li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu
  .container-lg
  .section-content
  .menu-nav
  > .menu-ul
  .menu-nav-li
  .category-btn {
  cursor: pointer;
  background-color: var(--primary-color); /* تغيير لون الخلفية للأزرار */
  color: var(--white-color); /* تغيير لون النص */
  border: 2px solid var(--dark-color); /* تغيير لون الحدود */
  height: 60px;
  min-width: -moz-max-content;
  min-width: max-content;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 600;
  padding: 10px 20px;
}

#menu
  .container-lg
  .section-content
  .menu-nav
  > .menu-ul
  .menu-nav-li
  .category-btn.active {
  background-color: var(
    --secondary-color
  ); /* تغيير لون الخلفية للأزرار النشطة */
  color: var(--text-color); /* تغيير لون النص للأزرار النشطة */
  border: 2px solid var(--primary-color); /* تغيير لون الحدود للأزرار النشطة */
}

@media (max-width: 768px) {
  #menu {
    width: 100%;
    height: auto;
    margin-top: 80px;
    scroll-margin-top: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 15px;
    background-color: transparent;
  }

  #menu .container-lg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
  }

  #menu .container-lg .section-content {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #menu .container-lg .section-content .menu-nav {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    width: 50px;
  }

  #menu .container-lg .section-content .menu-nav > .menu-ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #menu .container-lg .section-content .menu-nav > .menu-ul .menu-nav-li {
    /* align-items: center; */
    display: flex;
    /* flex-wrap: nowrap; */
    /* justify-content: center; */
    /* list-style: none; */
    margin: 0;
    rotate: 0;
    width: 60px;
    height: 130px;
  }

  #menu
    .container-lg
    .section-content
    .menu-nav
    > .menu-ul
    .menu-nav-li
    .category-btn {
    background-color: var(--primary-color);
    border: 2px solid var(--dark-color);
    border-radius: 5px;
    color: var(--white-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    height: 130px;
    padding: 10px 20px;
    width: 45px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  #menu
    .container-lg
    .section-content
    .menu-nav
    > .menu-ul
    .menu-nav-li
    .category-btn.active {
    background-color: var(
      --secondary-color
    ); /* تغيير لون الخلفية للأزرار النشطة */
    color: var(--text-color); /* تغيير لون النص للأزرار النشطة */
    border: 2px solid var(--primary-color); /* تغيير لون الحدود للأزرار النشطة */
  }
}
